.footer {
    background-color: var(--blancoprincipal1);
    color: var(--colorletraverde);
    padding: 4rem 4rem 0;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.footer-marca {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4caf50;
}

.footer-logo span {
    color: #4caf50;
}

.footer-marca p {
    font-size: 0.9rem;
    line-height: 1.7;
    color: var(--colorletraverdeclaro);
}

.footer-redes {
    display: flex;
    gap: 0.8rem;
}

.footer-red {
    width: 38px;
    height: 38px;
    border-radius: 8px;
    background-color: #4c7b45;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    transition: background-color 0.3s ease;
}

.footer-red:hover {
    background-color: var(--naranjahover);
    color: #ffffff;
}

.footer-columna {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-columna h3 {
    color: var(--colorletraverde);
    font-weight: 600;
}

.footer-columna ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-columna ul li a {
    color: var(--colorletraverdeclaro);
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-columna ul li a:hover {
    color: var(--naranjahover);
}

.footer-link-activo a {
    color: #4caf50 !important;
}

.footer-inferior {
    border-top: 1px solid #1a2f50;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 0.85rem;
}